*,*:after,*:before{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
input{
    width: 100%;
    float: left;
    border: none;
    border-bottom: 2px solid #0e22b9;
    height: 50px;
    outline: none;
    font-size: 2em;
    color: #0e22b9;
    background-color: transparent;
}
input[type="submit"]{
    background-color: #0e22b9;
    color: #fff;
    border-bottom: none;
    font-size: 26px;
    border-radius: 5px;
}
input[type="button"]{
    background-color: #0e22b9;
    color: #fff;
    border-bottom: none;
    font-size: 26px;
    border-radius: 5px;
    cursor: pointer;
}

body{
    font-family: 'Open Sans', sans-serif;
}
.frnd_list_list{
    display: flex;
    align-items: center;
    position: relative;
}
.main_frame{
    width: 100%;
    float: left;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
header,section{
    width: 100%;
    float: left;
}
header img{
    width: 100px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: #666;
}
.logo_part{
    display: flex;
    align-items: center;
}
.logo_part > span{
    color: #fff;
    margin-left: 20px;
    padding-left: 20px;
    border-left: 1px solid #fff;
    font-size: 26px;
}
.contact_us a{
    color: #fff;
    text-decoration: none;
}
.head{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    font-style: italic;
    text-shadow: -3px 3px 0px #fff,
               -6px 6px 0px #f2f2f2,
               -9px 9px 0px #ccc;
    margin-top: 40px; 
    color: #0e22b9;          
}
.login-box {
    width: 100%;
    float: left;
    justify-content: center;
    display: flex;
    margin-top: 75px;
}
.form_frame{
    width: 100%;
    max-width: 600px;
}
.form_frame .form_row + .form_row{
    margin-top: 40px;
}
.form_row,.form_item{
    width: 100%;
    float: left;
}
.butn_box{
    margin-top: 60px !important;
}
.login-frame{
    background-image: url(../Images/watermark1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    height: calc(100vh - 112px);
}
.forgot{
    width: 100%;
    float: left;
}
.forgot input{
    font-size: 14px;
    height: auto;
    width: auto;
    margin-right: 10px;
}
.forgot label{
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
}
.forgot span{
    color: #333;
    font-style: 14px;
}
.signup{
    width: 100%;
    float: left;
   text-align: center;
}
.signup a{
    font-size: 20px;
    color: #0e22b9;
    text-decoration: none;
    cursor: pointer;
}

/*---Register--*/

.pop_frame{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    align-items: center;
    justify-content: center;
    display: none;
}

.inner_box{
   max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 5px;
    margin: 0 auto;
}
.reg-box {
    width: 100%;
    float: left;
    background-color: #999;
    padding: 30px;
    position: relative;
}
.res_head{
    width: 100%;
    float: left;
    text-align: center;
}
.res_head p:nth-child(1){
    font-size: 36px;
}
/* .res_head p:nth-child(2) span:nth-child(1){
    font-size: 36px;
    font-weight: 700;
}
.res_head p:nth-child(2) span:nth-child(2){
    font-size: 26px;
    font-weight: 700;
} */
.res_head p:nth-child(2) img{
    width: 80px;
}
.reg-form {
    background-color: #fff;
    float: left;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}
.reg-form input{
    height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #0e22b9;
}
.reg-form > .form_row + .form_row{
    margin-top: 20px;
}
.gender .form_item input{
 height: auto;
 width: auto;
}
.gender .form_item{
    width: 50%;
    float: left;
}
.gender .form_item label{
    display: flex;
    align-items: center;
}
.gender .form_item label input{
    margin-right: 5px;
}
.close {
    position: absolute;
    right: 20px;
    top: 5px;
    font-size: 26px;
    color: #fff;
    cursor: pointer;
}




/*----Chat page css ----*/

.chat_main{
    width: 100%;
    float: left;
}
.chat_header{
    display: flex;
}
.chat_hicons ul{
    list-style: none;
    display: flex;
}
.chat_header .logo_part{
    width: 25%;
}
.chat_header .right_part {
    display: flex;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}
/* .chat_header .right_part nav{
    display: flex;
} */
.chat_header .right_part nav ul{
    list-style: none;
    display: flex;
    margin-bottom: 0px;
}
.chat_header .right_part nav ul li{
    font-size: 24px;
    color: #fff;
    padding: 5px 30px;
    cursor: pointer;
}
.chat_header .right_part nav ul li:hover{
    border-bottom: 4px solid #fff;
}
.chat_header .right_part nav ul li.active{
    border-bottom: 4px solid #fff;
    /* background-color: #ccc; */
    /* color: #333; */
    /* border-radius: 5px; */
    position: relative;
}
/* .chat_header .right_part nav ul li.active:after {
    border-right: 55px solid transparent;
    border-left: 55px solid transparent;
    border-top: 29px solid #fff;
    border-bottom: 6px solid transparent;
    content: "";
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -57px;
} */
.chat_header .right_part nav ul li + li{
    margin-left: 20px;
}
.profile > span{
    font-size: 16px;
    color: #fff;
}
.chat_box{
    width: 100%;
    float: left;
    background-color: #e4e6f3;
    height: calc(100vh - 190px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat_frame{
    width: 80%;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
}
.chat_frnd_list{
    width: 25%;
    float: left;
    /* padding: 10px 20px; */
}
.chat_content{
    width: 50%;
    float: left;
    padding: 0px 20px;
    height: 100%;
}
.chat_online{
    width: 25%;
    float: left;
}
.chat_frnd_list > ul{
    list-style: none;
    margin: 0px;
}
.chat_frnd_list > ul li + li{
    margin-top: 5px;
}
.chat_frnd_list .frnd_list_list{
    display: flex;
    padding: 5px 10px;
    background-color: #ddf0fb;
}
.frnd_list_list > .frnd_details p{
    margin: 0px;
}
.frnd_list_list > .frnd_details{
    padding-left: 10px;
}
.chat_cont{
    width: 100%;
    float: left;
    height: calc(100% - 110px);
    overflow-x: auto;
}
.chat_cont > ul{
    list-style: none;
}
.chat_cont li .chat_block{
    display: flex;
}
.chat_cont li + li{
    margin-top: 10px;
}
.me .chat_block .chat_msg{
    background-color: #48a3d8;
    padding: 5px 10px;
    border-radius: 5px;
    color: #fff;
}
.user .user_pic{
    float: left;
    padding-right: 5px;
}
.me .user_pic{
    order: 2;
    padding-left: 5px;
}
.msg_chat_header{
    display: flex;
    background-color: #666666;
    color: #fff;
    padding: 0px 10px;
    margin-bottom: 20px;
}
.chat_title p{
    margin: 0px;
    line-height: 38px;
}
.msg_send_block{
    width: 100%;
    float: left;
    height: 50px;
    display: flex;
}
.msg_send_block .text_msg_block{
    display: flex;
    width: 90%;
    align-items: center;
}
.send_button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.send_button > button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #48a3d8;
    cursor: pointer;
}
.send_button > button img{
    width: 30px;
}
.msg_send_block .text_msg_block textarea{
    width: 90%;
    padding: 0px 10px;
}
.msg_send_block .text_msg_block > span{
    width: 30px;
    overflow: hidden;
    height: 28px;
}
.chat_online li + li{
    margin-top: 10px;
}
/* .file_attach input{
    font-size: 0px;
    position: absolute;
    width: 100px;
    border: none;
    background-image: url(../Images/attach.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
} */

input[type=file] {
    cursor: pointer;
    width: 30px;
    height: 34px;
    overflow: hidden;
    border: none;
  }
  
  input[type=file]:before {
    width: 30px;
    height: 32px;
    content: '';
    display: inline-block;
    background-color: white;
    padding: 0 10px;
    text-align: center;
    background-image: url(../Images/attach.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;

  }
  
  input[type=file]::-webkit-file-upload-button {
    visibility: hidden;
  }
  .sign {
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 50%;
}